.About {
    height: 100%;
    display: grid;
    grid-template-columns: 40% 1fr;
}

.leftbody {
    height: 100%; /* 親要素の高さを100%に設定 */
    width: 100%;
    display: flex; /* Flexbox を使用 */
    flex-direction: column; /* 子要素を縦方向に配置 */
    justify-content: center; /* 横方向（水平）の中央揃え */
    align-items: center; /* 縦方向（垂直）の中央揃え */  
    margin: 5%;
}


.rightbody {
    margin: 5%;
}

.name {
    height: calc(12px + 10vmin);
    background-color: rgb(255, 255, 255);
    padding-left: 5%;
    padding-right: 5%;
    font-size: calc(10px + 6vmin);;
    margin-bottom: 7px;
}

.img {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center; /* 横方向（水平）の中央揃え */
    align-items: center; /* 縦方向（垂直）の中央揃え */
}

.img_in {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center; /* 横方向（水平）の中央揃え */
    align-items: center; /* 縦方向（垂直）の中央揃え */
    /* background-color: #fff; */
}

.in {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #fff;
    padding: 1%;
    font-size: calc(10px + 1.5vmin);
}

@media screen and (max-width: 740px) {
    .name {
        background-color: rgb(255, 255, 255);
        font-size: calc(8px + 4vmin);;
    }
}

@media screen and (max-width: 613px) {
    .About {
        display: grid;
        grid-template-columns: 1fr;
    }

    .leftbody {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr; /* 2列のグリッド */
        margin: auto;
        align-content: center;
        justify-items: center;
    }

    .name {
        height: calc(12px + 12vmin);
        grid-column: 2; /* グリッドの2列目に配置 */
        grid-row: 1;
        background-color: rgb(255, 255, 255);
        font-size: calc(10px + 6vmin);
    }

    .img {
        grid-column: 1; /* グリッドの1列目に配置 */
        grid-row: 1;
    }

    .in {
        height: 100%;
        background-color: #fff;
        padding: 1%;
        font-size: calc(8px + 1vmin);
    }
}
